<div style="text-align: center; margin-top : 150px">
<div style="margin-bottom : 30px">
   <h1> Voici le potin <%= @gossip.id %> </h1>
   <h1> <%= @gossip.title %> </h1>
   <h1> <%= @gossip.content %> </h1>
   <%= button_to "redirection a l'acceuil", root_path, method: :get %>
</div>
</div>