<body>
    <div style="text-align: center; margin-top : 150px">
        <div style="margin-bottom : 30px">
            <h3>Présentation de la Team</h3>
        </div>
        <div style="display : flex; justify-content: space-between; margin-left: 700px; margin-right: 700px">
            <div>
                <p>premier collaborateur :</p>
                <h4>Hamza Bakkar</h4>
            </div>
            <div>
                <p>deuxième collaboratrice :</p>
                <h4>Aglaë Gourdet</h4>
            </div>
        </div>
    </div>
</body>