<div class="contact">
    <h2>créateur de ce merveilleux site</h2>
    <h3>Contact de la team</h3>
    <ul class="one">
        <li class="transition">
            <div class="wrapper"> <img class="transition" src="./hamza.png" alt="photo de Hamza Bakkar">
            <ul class="social">
                <li>premier collaborateur :<br>
                    Hamza Bakkar<br>
                    bakkar.hamza92@gmail.com</li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
            </ul>
            <span class="transition">
            <h3>Hamza</em></h3>
            <img src="http://dooreight.com/codepen/people/more.svg"> </span> </div>
        </li>
        <li class="transition">
            <div class="wrapper"> <img class="transition" src="aglae.png" alt="photo de Aglaë Gourdet">
            <ul class="social">
                <li>deuxième collaboratrice :<br>
                Aglae Gourdet<br>
                a.gourdet.dev@gmail.com</li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
                <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
            </ul>
            <span class="transition">
            <h3>Aglaë</h3>
            <img src="http://dooreight.com/codepen/people/more.svg"> </span> </div>
        </li>
    </ul>
</div>